@model rent.Models.Nekretnina

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Nekretnina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tip" class="control-label"></label>
                <select asp-for="Tip" class="form-control"
                asp-items="Html.GetEnumSelectList<TipNekretnine>()"></select>
                <span asp-validation-for="Tip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Povrsina" class="control-label"></label>
                <input asp-for="Povrsina" class="form-control" />
                <span asp-validation-for="Povrsina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrojSoba" class="control-label"></label>
                <input asp-for="BrojSoba" class="form-control" />
                <span asp-validation-for="BrojSoba" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Parking" /> @Html.DisplayNameFor(model => model.Parking)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVlasnika" class="control-label"></label>
                <input asp-for="IdVlasnika" class="form-control" />
                <span asp-validation-for="IdVlasnika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ocjena" class="control-label"></label>
                <input asp-for="Ocjena" class="form-control" />
                <span asp-validation-for="Ocjena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cijena" class="control-label"></label>
                <input asp-for="Cijena" class="form-control" />
                <span asp-validation-for="Cijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
