@page
@model LoginModel

@{
    ViewData["Title"] = "Prijava";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h2>@ViewData["Title"]</h2>
                </div>
                <div class="card-body">
                    <form id="account" method="post">
                        <h4 class="text-center">Koristite lokalni račun za prijavu.</h4>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="ime@primjer.com" />
                            <label asp-for="Input.Email">Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="lozinka" />
                            <label asp-for="Input.Password">Lozinka</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            <label asp-for="Input.RememberMe" class="form-check-label">
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <div class="d-grid">
                            <button id="login-submit" type="submit" class="btn btn-primary btn-lg">Prijava</button>
                        </div>
                        <div class="mt-3 text-center">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Zaboravili ste lozinku?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrirajte se kao novi korisnik</a>
                            </p>
                            <p>
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Ponovno pošaljite potvrdu emaila</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
